<body style="background-color: #40B737;">

h1 {
color: #4ABFDA;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
  
}
