body {
  background-color: #333;
}

body, html {
  height: 100%;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #FFF;
}

h1 {
  color: #FFF;
  position: relative;
  text-align: center;
  font-size: 5em;
}

h2 {
  color: #FFF;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  margin: 100px;
}

ul {
  font-size: 1.3em;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111; 
}
